@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
.loader {
  position: fixed;
  z-index: 1000;
  background-color: lightgrey;
  width: 100%;
  height: 100%;
  animation: loader 5s;
  animation-fill-mode: both;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes loader {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.loader .loader-container {
  height: 200px;
  width: 200px;
  border: 15px solid transparent;
  border-top: 15px solid #FF79DA;
  border-bottom: 15px solid #9356DC;
  border-radius: 50%;
  position: absolute;
  -webkit-animation: 1.5s spin ease-in-out 3;
  -o-animation: 1.5s spin ease-in-out 3;
  animation: 1.5s spin ease-in-out 3;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}

.header {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  padding: 16px 0 16px 0;
  position: relative;
}
.header .header__title {
  text-align: center;
  font-family: "Shrikhand";
}
.header .header__title h1 {
  margin: 0;
}

.loc {
  display: flex;
  background-color: #ededed;
  width: 100%;
  justify-content: center;
  vertical-align: middle;
  padding: 24px 0 24px 0;
}
.loc .loc__icon {
  padding: 16px 16px 16px 0;
  font-size: 19px;
}
.loc .loc__text {
  font-weight: 700;
  font-family: "Roboto";
  margin-right: 40px;
  align-self: center;
}

.explo {
  padding-top: 50px;
  text-align: center;
  background-color: #f6f6f6;
  height: 300px;
}
.explo .explo__title {
  font-size: 1em;
}
.explo .explo__title h1 {
  margin-top: 0;
}
.explo .explo__subtitle {
  font-size: 20px;
  margin-bottom: 50px;
}
.explo .explo__btn {
  background-color: #686868;
  color: white;
  border: 0;
  border-radius: 100px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  padding: 20px;
  background: linear-gradient(#FF79DA, #9356DC);
}
.explo .explo__btn:hover {
  opacity: 0.8;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.75);
  color: black;
}

.fun {
  width: 100%;
}
.fun h2 {
  padding: 10px 0 10px 20px;
}
.fun ol {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0;
}
.fun li {
  list-style-type: none;
  text-align: center;
  font-weight: bold;
  padding: 16px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  margin: 16px 0 16px 0px;
  width: 75%;
  display: flex;
  align-items: center;
}
.fun li:hover {
  background: #f7f0ff;
}
@media screen and (min-width: 560px) {
  .fun li {
    width: 39%;
  }
}
@media screen and (min-width: 1024px) {
  .fun li {
    width: 25%;
  }
}
.fun li div {
  color: white;
  background: #9356DC;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px 0 -30px;
  font-size: small;
}
.fun li ::before {
  margin-right: 20px;
  color: grey;
}

.resto {
  background-color: #f6f6f6;
  height: 1100px;
  width: 100%;
}
@media screen and (min-width: 560px) {
  .resto {
    height: 600px;
  }
}
.resto .resto__title {
  padding: 10px 0 10px 20px;
}
.resto .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
}
@media screen and (min-width: 560px) {
  .resto .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.resto .resto__card {
  width: 90%;
  height: 220px;
  border: 0px solid;
  border-radius: 15px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  position: relative;
}
@media screen and (min-width: 560px) {
  .resto .resto__card {
    width: 40%;
  }
}
.resto .resto__card h5 {
  font-size: 16px;
  margin: 5px 0 0 0;
}
.resto .resto__card a {
  text-decoration: none;
  font-size: 16px;
}
.resto .resto__card img {
  width: 100%;
  height: 160px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  position: relative;
  top: 0;
}
.resto .resto__card .resto__card--badge {
  color: forestgreen;
  background-color: #99E2D0;
  padding: 10px;
  position: absolute;
  right: 1em;
  border-radius: 2px;
  top: 1em;
  font-weight: bold;
}
.resto .resto__card .card__footer {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  text-decoration: none;
  color: black;
  text-decoration: none;
  margin-top: 5px;
}
.resto .resto__card .card__footer .resto__card--title {
  padding-left: 20px;
  font-size: 16px;
}

.resto__card--like {
  padding: 5px 20px 0 0;
  font-size: 25px;
}
.resto__card--like .fa-heart::before {
  transition: linear 0.1s;
}
.resto__card--like .fa-heart:hover::before {
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
}

footer {
  background-color: #333333;
  height: 220px;
  color: white;
}
footer h6 {
  font-size: 17px;
  font-family: "Shrikhand";
  margin: 0 20px;
  padding-top: 30px;
  font-weight: normal;
}
footer ul {
  padding-left: 20px;
}
footer li {
  list-style: none;
  margin: 0 0 10px 0;
  cursor: pointer;
  text-transform: none;
}
footer li i {
  margin-right: 10px;
}

.fa-arrow-left::before {
  font-size: 20px;
  color: black;
}

.header--menupages {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__title--menupages {
  text-align: center;
  font-family: "Shrikhand";
}
.header__title--menupages h1 {
  margin: 0 70px 0 0;
}

.menu {
  background-color: #ededed;
  width: 100%;
}

.menu--title {
  margin-top: 0;
  text-align: center;
  font-family: "Shrikhand";
  display: flex;
  flex-wrap: wrap;
}
.menu--title img {
  max-height: 300px;
  max-width: 100%;
  min-width: 100%;
  object-fit: cover;
}
.menu--title h2 {
  background-color: #ededed;
  width: 100%;
  height: 60px;
  margin: -60px 0 0 0;
  border-radius: 45px 45px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px 15px 0 0;
}
.menu--title .like {
  font-size: 25px;
}
.menu--title .like ::before {
  padding-right: 10px;
}
.menu--title .like .fa-heart::before {
  transition: linear 0.1s;
}
.menu--title .like .fa-heart:hover::before {
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
}

.menu--list {
  width: 100%;
  height: auto;
}
.menu--list h2 {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 15px;
  padding-left: 25px;
  margin-bottom: 0;
}
.menu--list hr {
  display: inline-block;
  width: 38px;
  background: #99E2D0;
  padding: 2px 0;
  border: none;
  margin-left: 25px;
}
.menu--list ul {
  padding-left: 25px;
  margin-right: 25px;
  list-style: none;
  text-decoration: none;
  margin-top: 0;
}
.menu--list ul li {
  background-color: #f2f2f2;
  border-radius: 20px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}
.menu--list ul li h3 {
  font-size: 15px;
  padding: 0 0 0 10px;
  margin-bottom: 0;
}
.menu--list ul li p {
  margin: 5px 0 10px 10px;
  font-size: 12px;
  text-overflow: ellipsis;
}
.menu--list ul li div span {
  font-weight: bold;
  font-size: 15px;
  display: flex;
  height: 100%;
  align-items: center;
  padding: 10px 20px;
}

.command {
  padding: 25px 25px 60px 25px;
}

.command__btn {
  background-color: #686868;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 100px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  padding: 17px;
  background: linear-gradient(#FF79DA, #9356DC);
  margin: 0 50px 0 50px;
  font-size: 18px;
}
.command__btn:hover {
  opacity: 0.8;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.75);
  color: black;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

/*# sourceMappingURL=style.css.map */
