.header__title{
    text-align: center;
    font-family: "Shrikhand";
    
    h1{
        margin-top: 0;
    }
}

.loc{
    display: flex;
    background-color: #ece5e5;
    width: 100%;
    justify-content: center;
    vertical-align: middle;
    
    .loc__icon{
        padding: 16px 16px 16px 0;
        font-size: 19px;
    }

    .loc__text{
        font-weight: 700;
        font-family: "Roboto";
        margin-right: 40px;
    }
}

.explo{
    padding-top: 50px;
    text-align: center;
    background-color: #f6f6f6;
    height: 250px;

    .explo__title{
        font-size: 1em;

        h1{
            margin-top: 0;
        }
    }

    .explo__subtitle{
        font-weight: 400;
        margin-bottom: 30px;
    }

    .explo__btn{
        background-color: grey;
        color: white;
        border: 0;
        border-radius: 100px;
        text-align: center;
        cursor: pointer;
        font-size: 20px;
    }
}

.fun{

    .h1{
        text-align:left;
    }
    li{
        list-style-type: none;
        margin-bottom: 20px;
        text-align: center;
        
    }

}

