@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');
@import "accueil";
@import "menupages";

html, body{
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;